

/********** start index.html **********/
body{
	color: white;
	font-family: Tahoma;

}
#homepage{
	z-index: 1;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #850A12;

}

#f1{
	z-index: 0;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #850A12;
}

#f2{
	z-index: 0;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	background-color:#850A12;
}

#results{
	z-index: 0;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #850A12;
}


/********** end index.html **********/
/********** start client_f1.html **********/


.form_back{
	width: 1000px;
	height: 280px;
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	padding-bottom: 200px;
	background-color: #813737;
	opacity: 0.8;
}



.back{
	float: left;
	font-size: 18px;
	height: 40px;
	width: 150px;
	margin-top: 50px;
	margin-right: 300px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px #000000;
}

.next{
  float: right;
	font-size: 18px;
	height: 40px;
	width: 150px;
  margin-top: 50px;
  margin-right: 300px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px #000000;


}
